body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
img{
height: 30%;
width: 100%;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    text-align: center;
    margin: 20px;
}

button {
    background-color: #17529E;
    color: #17529E;
    padding: 100px 160px;
    font-size: 50px;
    cursor: pointer;
}

button:hover {
    background-color: #17529E;
}
